<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="proyecto.cursoandroid.com.jairo.centaurosolutions.beaconkontackttest3">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="controllers.AppController"
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="kontakt.io.API_KEY"
            android:value="ZtLtzUwyFjUFGlwjSxHoKsDKmyqjXNLc" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity android:name=".range.IBeaconRangeActivity" />
        <activity android:name=".management.BeaconManagementActivity" />
        <activity android:name=".BackgroundScanActivity" />
        <activity android:name="management.ConfigFormActivity" />

        <service
            android:name="service.BackgroundScanService"
            android:exported="false" />
        <service
            android:name="service.GivePointToUserService"
            android:exported="false" />
        <service
            android:name="service.SyncService"
            android:exported="false" />
        <service
            android:name="com.kontakt.sdk.android.ble.service.ProximityService"
            android:exported="false" />

        <receiver
            android:name="receiver.BackgroundScanReceiver"
            android:exported="false" />

        <service
            android:name="com.kontakt.sdk.android.ble.service.ProximityService"
            android:exported="false" />

        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2" />
        <activity
            android:name=".ActivityPrincipal"
            android:label="@string/title_activity_activity__principal" />
        <activity
            android:name=".TabPromocionesActivity"
            android:label="@string/title_activity_tab_promociones" />
        <activity
            android:name=".ElementoListaPromoActivity"
            android:label="@string/title_activity_elemento_lista_promo" />
        <activity
            android:name=".PromoDetailActivity"
            android:label="@string/title_activity_promo_detail" />
        <activity
            android:name=".LoginMainActivity"
            android:label="BeaconApp"
            android:theme="@style/AppThemelogin" />

        <service
            android:name="service.BeaconSyncMessageService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".WelcomeScreen"
            android:label="Quick Shop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserRegister"
            android:label="@string/title_activity_user_register" />
        <activity
            android:name=".DetailPromo"
            android:label="@string/title_activity_detail__promo" />
        <activity
            android:name=".PullNotificationsActivity"
            android:label="@string/title_activity_pull_notifications" />

        <!-- inicio de configuracion de facebook -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider"
            android:exported="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <!-- fin de configuracion de facebook -->

        <activity
            android:name=".LoginOptions"
            android:label="@string/title_activity_login__options" />
        <activity
            android:name=".ActivityProfile"
            android:label="@string/title_activity_activity_profile" />
        <activity android:name=".HistotyPointsActivity" />
        <activity android:name=".ProductsStoreActivity" />
        <activity android:name=".FaqActivity" />
        <activity android:name=".WishListActivity"></activity>
    </application>

</manifest>
